body {
  font-family: sans-serif;
}

.nav-item {
  margin: 8px;
  width: max-content;
  color: white;
}

.khas-logo {
  height: 80px;
}

.first-m {
  margin-top: 55px;
  margin-bottom: 40px;
}

.button1 {
  background-color: white;
  border-radius: 8px;
  border: none;
}

.button1:hover {
  background-color: bisque;
}

.custom-select {
  outline: none;
  width: 185px;
}

input:focus {
  outline: none;
}

input {
  padding: 3.5px;
}
